<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LCCalendarDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B387C9171C76CE5F001D5BF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B387C9301C76CE5F001D5BF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B387C93B1C76CE5F001D5BF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
